/* Select the h1 element and set its color to red */
h1 {
  color: rgb(20, 26, 16);
}

/* Select the body element and set its background color to light gray */
body {
  background-color: rgb(205, 218, 218);
}

/* Select the p element and set its font family to Arial */
p {
  font-family: Arial;
}

button[id="verander"] {
  background-color: #bdbdbd;
  color: #000000;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 70px;
}

.change {
  background-color: rgb(251, 255, 23);
}
